<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    {% tailwind_css %}
</head>
<body>
    <h1>Welcome to dashboard !!</h1>
    <h2>First Name: <span> {{request.user.first_name}}  </span></h2> 
    <h2>Last Name: <span> {{request.user.last_name}} </span></h2> 
    <br>
    <br>
    <a href="{% url 'logout' %}" class="bg-indigo-600 p-3 w-full flex rounded-lg col-span-1">Logout</a>
</body>
</html>